.vscode/settings.json
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/demo
build/liblibshared.a
build/libshared.a
build/libshared.dylib
build/Makefile
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-c87a0fd4de42fad19514.json
build/.cmake/api/v1/reply/codemodel-v2-cc36cecbf1bda7adbdc4.json
build/.cmake/api/v1/reply/index-2020-07-24T18-59-23-0322.json
build/.cmake/api/v1/reply/target-demo-Debug-2f513dbf4be26523e096.json
build/.cmake/api/v1/reply/target-shared-Debug-afc11b42ff8dbc323713.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.17.3/CMakeCCompiler.cmake
build/CMakeFiles/3.17.3/CMakeCXXCompiler.cmake
build/CMakeFiles/3.17.3/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.17.3/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.17.3/CMakeSystem.cmake
build/CMakeFiles/3.17.3/CompilerIdC/a.out
build/CMakeFiles/3.17.3/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.17.3/CompilerIdCXX/a.out
build/CMakeFiles/3.17.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/demo.dir/build.make
build/CMakeFiles/demo.dir/cmake_clean.cmake
build/CMakeFiles/demo.dir/CXX.includecache
build/CMakeFiles/demo.dir/depend.internal
build/CMakeFiles/demo.dir/depend.make
build/CMakeFiles/demo.dir/DependInfo.cmake
build/CMakeFiles/demo.dir/flags.make
build/CMakeFiles/demo.dir/link.txt
build/CMakeFiles/demo.dir/main.cpp.o
build/CMakeFiles/demo.dir/progress.make
build/CMakeFiles/libshared.dir/build.make
build/CMakeFiles/libshared.dir/cmake_clean_target.cmake
build/CMakeFiles/libshared.dir/cmake_clean.cmake
build/CMakeFiles/libshared.dir/CXX.includecache
build/CMakeFiles/libshared.dir/depend.internal
build/CMakeFiles/libshared.dir/depend.make
build/CMakeFiles/libshared.dir/DependInfo.cmake
build/CMakeFiles/libshared.dir/flags.make
build/CMakeFiles/libshared.dir/link.txt
build/CMakeFiles/libshared.dir/progress.make
build/CMakeFiles/libshared.dir/shared.cpp.o
build/CMakeFiles/shared.dir/build.make
build/CMakeFiles/shared.dir/cmake_clean_target.cmake
build/CMakeFiles/shared.dir/cmake_clean.cmake
build/CMakeFiles/shared.dir/CXX.includecache
build/CMakeFiles/shared.dir/depend.internal
build/CMakeFiles/shared.dir/depend.make
build/CMakeFiles/shared.dir/DependInfo.cmake
build/CMakeFiles/shared.dir/flags.make
build/CMakeFiles/shared.dir/link.txt
build/CMakeFiles/shared.dir/progress.make
build/CMakeFiles/shared.dir/shared.cpp.o
